<div class="row justify-content-md-center">      
      <!--<mat-dialog-content>-->
            <div class="container-fluid">
                  <form class="" [formGroup]="EditForm">
                        <h4 class="text-center">{{'demandeAutFra.titre' | translate}}</h4>
                        <mat-horizontal-stepper [linear]="true">
                              <mat-step>
                                    <div class="row col-12">
                                          <div class="container mt-3 mb-3">{{'demandeAutFra.infoEntreprise' |
                                                translate}}
                                          </div>
                                    </div>
                                    <div class="row col-12">
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.raisonsociale' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="raisonsociale"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.adresseEntreprise' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="adresseEntreprise"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.telephoneEntreprise' | translate}}
                                                      </mat-label>
                                                      <input matInput type="phone" formControlName="telephoneEntreprise"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.emailEntreprise' | translate}}
                                                      </mat-label>
                                                      <input matInput type="email" formControlName="emailEntreprise">
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.ninea' | translate}}</mat-label>
                                                      <input matInput type="text" formControlName="ninea">
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.registrecommerce' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="registrecommerce"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.statutJuridique' | translate}}
                                                      </mat-label>
                                                      <mat-select formControlName="statutJuridique" required>
                                                            <mat-option value="GIE">
                                                                  GIE
                                                            </mat-option>
                                                            <mat-option value="SARL">
                                                                  SARL
                                                            </mat-option>
                                                            <mat-option value="SA">
                                                                  SA
                                                            </mat-option>
                                                            <mat-option value="Entreprise uni personnel">
                                                                  Entreprise unipersonnelle
                                                            </mat-option>
                                                      </mat-select>
                                                </mat-form-field>
                                          </div>
                                    </div>
                                    <div>
                                          <button *ngIf="openDialog" type="button" mat-flat-button color="warn"
                                                mat-dialog-close>{{'btn.fermer' | translate}}</button>
                                          <button type="button" mat-flat-button color="primary"
                                                (click)="onSubmit(1)">{{'btn.brouillon' |
                                                translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperNext>{{'btn.suivant' | translate}}</button>
                                    </div>
                              </mat-step>
                              <mat-step>
                                    <div class="row col-12">
                                          <div class="container mt-3 mb-3">{{'demandeAutFra.informationresponsable' |
                                                translate}}</div>
                                    </div>
                                    <div class="row col-12">
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.prenomResponsable' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="prenomResponsable"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.nomResponsable' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="nomResponsable"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.civiliteResponsable' | translate}}
                                                      </mat-label>
                                                      <mat-select formControlName="civiliteResponsable" required>
                                                            <mat-option value="monsieur">
                                                                  {{'demandeAutFra.Monsieur'|translate}}
                                                            </mat-option>
                                                            <mat-option value="madame">
                                                                  {{'demandeAutFra.Madame'|translate}}
                                                            </mat-option>
                                                            <mat-option value="Mademoiselle">
                                                                  {{'demandeAutFra.Mademoiselle'|translate}}
                                                            </mat-option>
                                                      </mat-select>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.telephoneResponsable' | translate}}
                                                      </mat-label>
                                                      <input matInput type="phone"
                                                            formControlName="telephoneResponsable" required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.adresseResponsable' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="adresseResponsable"
                                                            required>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.emailResponsable' | translate}}
                                                      </mat-label>                                                      
                                                      <input matInput type="email" formControlName="emailResponsable"
                                                            required>          
                                                </mat-form-field>
                                          </div>
                                    </div>
                                    <div>
                                          <button *ngIf="openDialog" type="button" mat-flat-button color="warn"
                                                mat-dialog-close>{{'btn.fermer' | translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperPrevious>{{'btn.previous' | translate}}</button>
                                          <button type="button" mat-flat-button color="primary"
                                                (click)="onSubmit(1)">{{'btn.brouillon' |
                                                translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperNext>{{'btn.suivant' | translate}}</button>
                                    </div>
                              </mat-step>
                              <mat-step>
                                    <div class="row col-12">
                                          <div class="container mt-3 mb-3">{{'demandeAutFra.infoproduit' | translate}}
                                          </div>
                                    </div>
                                    <div class="row col-12">
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.objetDemande' | translate}}
                                                      </mat-label>
                                                      <input matInput type="text" formControlName="objetDemande"
                                                            required readonly>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.region' | translate}}</mat-label>
                                                      <mat-select formControlName="region" required (selectionChange)="onChange()">
                                                            <mat-option *ngFor="let region of regions" [value]="region">
                                                                  {{region.nomRegion}}
                                                            </mat-option>
                                                      </mat-select>
                                                </mat-form-field>
                                          </div>
                                          <div class="col-4">
                                                <mat-form-field appearance="fill">
                                                      <mat-label>{{'demandeAutFra.antenneRegionaleDepartementale' |
                                                            translate}}</mat-label>
                                                      <mat-select formControlName="antenneRegionaleDepartementale" required>
                                                            <mat-option
                                                                  *ngFor="let antenneRegionaleDepartementale of antennes;"
                                                                  [value]="antenneRegionaleDepartementale">
                                                                  {{antenneRegionaleDepartementale.nomAntenne}}
                                                            </mat-option>
                                                      </mat-select>
                                                </mat-form-field>
                                          </div>
                                    </div>
                                    <div class="row col-12 mt-3">
                                          <div class="row col-12 ">
                                                <div class="col-6">
                                                      <h4>Nature des produits</h4>
                                                </div>
                                                <div class="col-sm-6"
                                                      style="display:flex;flex-direction:row;justify-content:right;align-items: right;">
                                                      <span class="btn btn-primary"
                                                            (click)="openDialogAddProduits('produit')" style="background-color: #1a5e30; border-color: #1a5e30;">Ajouter un
                                                            produit</span>
                                                </div>
                                          </div>
                                    </div>
                                    <div class="row col-12 container-fluid" style="overflow-x:auto;">
                                          <table mat-table class="container-fluid" [dataSource]="dataSourceProduits"
                                                matSort>
                                                <ng-container matColumnDef="Nature">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{'produits.nature' | translate}} </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.nature}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Marque">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{'produits.marque' | translate}} </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.marque}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Contenance">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{'produits.contenance' | translate}} </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.contenance}}
                                                      </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Type emballage">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{'produits.typeemballage' | translate}} </th>
                                                      <td mat-cell *matCellDef="let element"> {{element.typeemballage}}
                                                      </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Description étiquette">
                                                      <th mat-header-cell *matHeaderCellDef mat-sort-header>
                                                            {{'produits.descriptionEtiquette' | translate}} </th>
                                                      <td mat-cell *matCellDef="let element">
                                                            {{element.descriptionEtiquette}} </td>
                                                </ng-container>
                                                <ng-container matColumnDef="Action">
                                                      <th mat-header-cell *matHeaderCellDef><span>
                                                                  &nbsp; &nbsp;{{'register.action' | translate}}</span>
                                                      </th>
                                                      <td mat-cell *matCellDef="let element">
                                                            <button type="button" mat-icon-button
                                                                  (click)="deleteProduit(element)">
                                                                  <mat-icon matTooltip="{{'btn.delete'| translate}}"
                                                                        color="warn">
                                                                        delete
                                                                  </mat-icon>
                                                            </button>
                                                      </td>
                                                </ng-container>
                                                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                                                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                                          </table>
                                          <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons>
                                          </mat-paginator>
                                    </div>
                                    <div>
                                          <button *ngIf="openDialog" type="button" mat-flat-button color="warn"
                                                mat-dialog-close>{{'btn.fermer' | translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperPrevious>{{'btn.previous' | translate}}</button>
                                          <button type="button" mat-flat-button color="primary"
                                                (click)="onSubmit(1)">{{'btn.brouillon' |
                                                translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperNext>{{'btn.suivant' | translate}}</button>
                                    </div>
                              </mat-step>
                              <mat-step>
                                    <div class="row col-12">
                                          <div class="container mt-3 mb-3">{{'demandeAutFra.documents' | translate}}
                                          </div>
                                          <div class="container mt-3 mb-3">
                                                <strong style="color: red;">NB: {{'demandeAutFra.document_obligatoire' | translate}}</strong>
                                          </div>
                                    </div>
                                    <div class="row col-12">
                                          <div class="col-4">
                                                <input type="file" #filecertificatanalysesproduit hidden
                                                      (change)="onFileAddedcertificatanalysesproduit()">
                                                <div class="row container-fluid mt-1 mb-2"
                                                      (click)="addFilecertificatanalysesproduit()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.certificatanalysesproduit' |
                                                                  translate}}
                                                            </span>
                                                            <span *ngIf="certificatanalysesproduit" class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{certificatanalysesproduit?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="certificatanalysesproduit">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-4">
                                                <input type="file" #fileregistrecommerceetcreditmobilier hidden
                                                      (change)="onFileAddedregistrecommerceetcreditmobilier()">
                                                <div class="row container-fluid mt-1 mb-2"
                                                      (click)="addFileregistrecommerceetcreditmobilier()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.registrecommerceetcreditmobilier' |
                                                                  translate}}
                                                            </span>
                                                            <span *ngIf="registrecommerceetcreditmobilier"
                                                                  class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{registrecommerceetcreditmobilier?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="registrecommerceetcreditmobilier">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-4">
                                                <input type="file" #filejuridique hidden
                                                      (change)="onFileAddedjuridique()">
                                                <div class="row container-fluid mt-1 mb-2" (click)="addFilejuridique()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.juridique' | translate}}
                                                            </span>
                                                            <span *ngIf="juridique" class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{juridique?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="juridique">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-4">
                                                <input type="file" #fileprocessusfabrication hidden
                                                      (change)="onFileAddedprocessusfabrication()">
                                                <div class="row container-fluid mt-1 mb-2"
                                                      (click)="addFileprocessusfabrication()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.processusfabrication' | translate}}
                                                            </span>
                                                            <span *ngIf="processusfabrication" class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{processusfabrication?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="processusfabrication">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-4">
                                                <input type="file" #filecopieninea hidden
                                                      (change)="onFileAddedcopieninea()">
                                                <div class="row container-fluid mt-1 mb-2"
                                                      (click)="addFilecopieninea()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.copieninea' | translate}}
                                                            </span>
                                                            <span *ngIf="copieninea" class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{copieninea?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="copieninea">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                          <div class="col-4">
                                                <input type="file" #filecnipasseport hidden
                                                      (change)="onFileAddedcnipasseport()">
                                                <div class="row container-fluid mt-1 mb-2"
                                                      (click)="addFilecnipasseport()">
                                                      <div class="file-upload">
                                                            <span class="file-name">
                                                                  {{'demandeAutFra.cnipasseport' | translate}}
                                                            </span>
                                                            <span *ngIf="cnipasseport" class="sep"></span>

                                                            <span class="file-name2">
                                                                  {{cnipasseport?.name}}
                                                            </span>

                                                            <span class="flex">
                                                            </span>
                                                            <span *ngIf="cnipasseport">
                                                                  <mat-icon color="primary">check</mat-icon>
                                                            </span>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                                    <div>
                                          <button *ngIf="openDialog" type="button" mat-flat-button color="warn"
                                                mat-dialog-close>{{'btn.fermer' | translate}}</button>
                                          <button type="button" mat-stroked-button color="primary"
                                                matStepperPrevious>{{'btn.previous' | translate}}</button>
                                          <button type="button" mat-flat-button color="primary"
                                                (click)="onSubmit(1)">{{'btn.brouillon' |
                                                translate}}</button>
                                          <button type="submit" *ngIf="statut == null" (click)="onSubmit(11)" mat-flat-button
                                                color="primary">{{'btn.soumettre' |
                                                translate}}</button>
                                          <button type="submit" *ngIf="statut == 9" (click)="onSubmit(2)" mat-flat-button
                                                color="primary">{{'btn.soumettre' |
                                                translate}}</button>
                                          <button type="submit" *ngIf="statut == -9" (click)="onSubmit(3)" mat-flat-button
                                                color="primary">{{'btn.soumettre' |
                                                translate}}</button>
                                    </div>
                              </mat-step>
                        </mat-horizontal-stepper>
                  </form>
            </div>
      <!--</mat-dialog-content>-->
</div>