<div class="row">
    <div class="col-sm-6">
        <h3 class="float-left">
            <strong class="foncer"> {{'menu.mesdemandes' | translate}}</strong>
        </h3>
    </div>
</div>
<mat-tab-group>
    <mat-tab>
        <mat-card class="">
            <mat-menu #detail="matMenu">
                <form [formGroup]="form">
                    <div *ngFor="let cd of columnDefinitions">
                        &nbsp; <mat-checkbox [formControlName]="cd.def">{{cd.label}}&nbsp;
                        </mat-checkbox>
                    </div>

                </form>
            </mat-menu>

            <div class="">
                <button class="float-right" mat-button (click)="select.open({position:0})" yPosition="above">
                    <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
                        filter_alt
                    </mat-icon>
                    <mat-select style="visibility: hidden;" [disableOptionCentering]="false" #select
                        [(ngModel)]="selectedColumns" multiple>
                        <mat-option *ngFor="let c of columnDefinitions" [value]="c">
                            {{('demandeatraiter.'+c) | translate}}</mat-option>
                    </mat-select>
                </button>
                <table mat-table class=" mat-elevation-z8" [dataSource]="dataSource" matSort>
                    <ng-container matColumnDef="numero">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demandeatraiter.numero' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.numdemande}} </td>
                    </ng-container>

                    <ng-container matColumnDef="dateSoumission">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demandeatraiter.dateSoumission' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.dateSoumission | date:"dd/MM/yyyy H:mm:ss"}}
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="prenomResponsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demandeatraiter.prenomResponsable' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.prenomResponsable}} </td>
                    </ng-container>

                    <ng-container matColumnDef="nomResponsable">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demandeatraiter.nomResponsable' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.nomResponsable}} </td>
                    </ng-container>

                    <ng-container matColumnDef="raisonSociale">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'demandeatraiter.raisonsociale' | translate}}
                        </th>
                        <td mat-cell *matCellDef="let element"> {{element.raisonsociale}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef>
                            <span>{{'register.action' | translate}}</span>
                        </th>
                        <td mat-cell *matCellDef="let element" class="fab">
                            <button mat-button [mat-menu-trigger-for]="detail" yPosition="above" class="float-right">
                                <mat-icon matTooltip="{{'utilisateur.details'| translate}}" color="secondary">
                                    more_vert
                                </mat-icon>
                            </button>

                            <mat-menu #detail="" x-position="before">
                                <div>
                                    <button mat-menu-item color="primary" (click)="openDialogVisualiser(element)">
                                        <mat-icon>
                                            touch_app
                                        </mat-icon>{{'demandeatraiter.visualiser' | translate}}
                                    </button>
                                </div>
                            </mat-menu>
                        </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="getDisplayedColumns()"></tr>
                    <tr mat-row *matRowDef="let row; columns: getDisplayedColumns()"></tr>
                </table>

                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
            </div>

        </mat-card>
    </mat-tab>
</mat-tab-group>