<div class="row" style="margin-top:15px;">
    <div class="col-md-4 col-sm-4 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{nombreATraite}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandeAtraiter' | translate}}</span>
      </div>
    </div>
  </div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
        <div class="info-box-content">
          <span class="info-box-number color">{{nombreTraiterChefDivision}}</span><br>
          <span class="info-box-text color1">{{'dashboard.demandetraiter' | translate}}</span>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="info-box">
        <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
        <div class="info-box-content">
          <span class="info-box-number color">{{nombreRenvoyee}}</span><br>
          <span class="info-box-text color1">{{'dashboard.demandesrenvoyees' | translate}}</span>
        </div>
      </div>
    </div>
  </div>
  
  
  
  
  

