<mat-dialog-content *ngIf="profilLibelle == 'chef bureau'">
  <div class="container-fluid">
    <form class="" [formGroup]="EditForm1">
      <mat-form-field appearance="fill">
          <mat-label>{{'addcommentairevalider.commentaire' | translate}}</mat-label>
          <textarea matInput formControlName="motif" required></textarea>
      </mat-form-field>
    </form>
    <div>
      <button type="button" (click)="onSubmit1()" mat-raised-button color="primary">{{'btn.valider' | translate}}</button>
      <button type="button" mat-flat-button color="warn" mat-dialog-close>{{'btn.fermer' | translate}}</button>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-content *ngIf="profilLibelle == 'chef division'">
  <div class="container-fluid">
    <form class="" [formGroup]="EditForm1">
      <mat-form-field appearance="fill">
          <mat-label>{{'motifrejetourenvoi.motif' | translate}}</mat-label>
          <textarea matInput formControlName="motif" required></textarea>
      </mat-form-field>
    </form>
    <div>
      <button type="button" (click)="onSubmit1()" mat-raised-button color="primary">{{'btn.valider' | translate}}</button>
      <button type="button" mat-flat-button color="warn" mat-dialog-close>{{'btn.fermer' | translate}}</button>
    </div>
  </div>
</mat-dialog-content>
