<div class="row" style="margin-top:15px;">  
  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandesoumise}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandesoumises' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandestraitees}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandetraitees' | translate}}</span>
      </div>
    </div>
  </div>
</div>