<div class="row" style="margin-top:15px;">  
  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandesoumises}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandesoumises' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandeencours}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandeencours' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandeacorriger}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandeacorriger' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemanderejetees}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demanderejetees' | translate}}</span>
      </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua"><i class="fa fa-folder"></i></span>
      <div class="info-box-content">
        <span class="info-box-number color">{{totaldemandedelivrees}}</span><br>
        <span class="info-box-text color1">{{'dashboard.demandedelivreees' | translate}}</span>
      </div>
    </div>
  </div>
</div>